.recto {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
